<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Air Quality</title>
       <link rel="stylesheet" media="screen" href ="../static/css/bootstrap.min.css">
       <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="input text">
                {{ form.address.label }} {{ form.address }}
            </div>
            <br>
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
        <br>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                    {% for message in messages %}
                        {{ message[1] }} <br>
                    {% endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>
